
@{
    ViewData["Title"] = "FindAgencyNameByFullName";
}

<div>
    <div class="card text-center">
        <div class="card-header">
            Agency of @ViewData["fullname"]
        </div>
        <div class="card-body">
            <h5 class="card-title" id="agencyName">@ViewData["Agency"]</h5>
        </div>
        <div class="card-footer text-muted">
                
        </div>
    </div>
</div>